$color-primary-base: #f00;
$color-secondary-base: #00f;
$color-tertiary-base: rgb(255, 238, 0);

$color-white: #fff;
$color-black: #000;

$margin-1: 1rem;
$margin-2: 2rem;
$margin-3: 4rem;
$margin-4: 8rem;
$margin-5: 10rem;

//  GRID
$row-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

