@keyframes flip2 {
    0% { margin-top: -30rem; }
    5% { margin-top: -20rem;  }
    50% { margin-top: -20rem; }
    55% { margin-top: 0rem; }
    99.99% { margin-top: 0rem; }
    100% { margin-top: -27rem; }
}

@keyframes dot {
    0% {top:10%;
    left:15%}

    10% {
        top: percentage(random(95) / 100);
        left: percentage(random(95) / 100);
    }

    20% {
        top: percentage(random(95) / 100);
        left: percentage(random(95) / 100);
    }

    30% {
        top: percentage(random(95) / 100);
        left: percentage(random(95) / 100);
    }

    40% {
        top: percentage(random(95) / 100);
        left: percentage(random(95) / 100);
    }

    50% {
        top: percentage(random(95) / 100);
        left: percentage(random(95) / 100);
    }

    60% {
        top: percentage(random(95) / 100);
        left: percentage(random(95) / 100);
    }

    70% {
        top: percentage(random(95) / 100);
        left: percentage(random(95) / 100);
    }

    80% {
        top: percentage(random(95) / 100);
        left: percentage(random(95) / 100);
    }

    90% {
        top: percentage(random(95) / 100);
        left: percentage(random(95) / 100);
    }

    100% {top:10%;
        left:15%}
}
    
