.section-main {
position: relative;
    &__social {
        position: absolute;
        float:left;
        margin-top: 20rem;

        a {
            writing-mode: vertical-rl;
            font-family: 'BioRhyme Expanded', serif;
            font-size: 4rem;
            }
        }
       
    
    
    &__folders {
        position: relative;
        margin-left: 7rem;
        float:left;
    }
}


.folder {
    float: left;
    text-align: center;
    margin: 7rem;
    
    &__title {
        margin-top: 2rem;
        text-transform: capitalize;
        font-size: 4rem;
        
    }

    &__image {
        width: 15rem;
    }
}


.footer {
    position: fixed;
    bottom: 0;
    right: 5rem;

    &__link {
        font-family: 'BioRhyme Expanded', serif;
        text-transform: capitalize;
        display: block;
        float: right;
        font-size: 4rem;
        margin:5rem 5rem 0 0;
        background-color: $color-primary-base;
    
    }

}
